
@{
    ViewData["Title"] = "Index";
}

@model List<lr_nine.Models.ProductViewModel>

<table class="table border" border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>

