
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="DefaultLogger" asp-controller="Logger">Default Logger</a>
</p>
<p>
    <a asp-action="SeriLogLogger" asp-controller="Logger">SeriLog Logger</a>
</p>
<p>
    <a asp-action="SeriLogCustom" asp-controller="Logger">SeriLog Custom Logs</a>
</p>
<p>
    <a asp-action="SeriLogException" asp-controller="Logger">SeriLogException Log</a>
</p>

