
@{
    ViewData["Title"] = "Picture";
}

<div class="d-flex flex-column align-items-center justify-content-center mb-3">
    <img src="https://7cars.com.ua/wp-content/uploads/2019/03/IMG_3548.jpg" alt="picture" />
    <a type="submit" class="btn btn-primary btn-lg mt-3" href="/">Back</a>
</div>

