
@{
    ViewData["Title"] = "SomeInfo";
}

<div class="d-flex flex-column align-items-center justify-content-center mb-3">
    <h1>Session and state management in ASP.NET Core</h1>
    <a type="submit" href="/" class="btn btn-primary btn-lg mt-3">Back</a>
</div>

